---
import '../styles/main.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Essays in Bloom',
  description = 'Essays in Bloom',
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/logos/favicon-light.svg" media="(prefers-color-scheme: light)" />
    <link rel="icon" href="/logos/favicon-dark.svg" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" href="https://use.typekit.net/npx4mzh.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
